<!-- Launch file to record the robots video -->
<launch>

    <!-- Launch file arguments: record the topics listed below -->
    <arg name="topics_name" default="/R1/camera/rgb/image_raw"/>

    <!-- Record topics -->
   <node name="record_topics" pkg="rosbag" type="record" args="-o $(find p_group8_bringup)/video/ $(arg topics_name)" output="screen"/>

</launch>

